{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">

	<div id="vue-div" class="display:none">

  	<div class="container padded">

  		<!-- ************************************************ Menu ************************************************ -->
  		<div class="main_menu">
	  		<ul class="menu">
	  			<li>
	  				<a v-on:click="change_page('homepage')"> Homepage </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('database')"> Database </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('customization')"> Customization </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('about')"> About </a>
	  			</li>
	  		</ul>

	  		<ul class="menu right">
	  			<li>
	  				<button v-on:click="change_page('cart')"> 
	             Cart <i class="fa fa-shopping-cart"></i> 
	          </button>
	  			</li>
	  		</ul>
  		</div>

  		<!-- ********************************************* Homepage ********************************************* -->
  		<div v-if="page == 'homepage'">
  			<div class="fill center homepage_background">
        	<h1 class="homepage_title">Boardophiles</h1>
        	<div class="card homepage_card">
			      <div>
			        <div class="blue padded rounded">
			          We have the boards!
			          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
			        </div>
			        <div class="navy padded rounded">
			          High Performance and customizable! 
			          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
			        </div>
			      </div>
			    </div>
      	</div>
  		</div>

  		<!-- ******************************************* Database Page ******************************************* -->
  		<div v-if="page == 'database'">
  			<h2> Database </h2>
  		</div>

  		<!-- **************************************** Customization Page **************************************** -->
  		<div v-if="page == 'customization'">
  			<h2> Customization </h2>
  		</div>

  		<!-- ******************************************** About Page ******************************************** -->
  		<div v-if="page == 'about'">
  			<h2> About </h2>
  		</div>

  		<!-- ******************************************** Cart Page ******************************************** -->
  		<div v-if="page == 'cart'">
  			<h2> Cart </h2>
  		</div>

		</div>
    
	</div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
