{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">

	<div id="vue-div" class="display:none">

  	<div class="container padded">

  		<!-- ************************************************ Menu ************************************************ -->
  		<div class="main_menu">
	  		<ul class="menu">
	  			<li>
	  				<a v-on:click="change_page('homepage')"> Homepage </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('database')"> Database </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('customization')"> Customization </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('about')"> About </a>
	  			</li>
	  		</ul>

	  		<ul class="menu right">
	  			<li>
	  				<button v-on:click="change_page('cart')"> 
	             Cart <i class="fa fa-shopping-cart"></i> 
	          </button>
	  			</li>
	  		</ul>
  		</div>

  		<!-- ********************************************* Homepage ********************************************* -->
  		<div v-if="page == 'homepage'">
  			<div class="fill center homepage_background ">

        	<h1 class="homepage_title">Boardophiles</h1>
        	<h4 class="homepage_title"> Customizable Surfboard Shop</h4>

        	<div class="container">

	        	<div class="card homepage_card left third">
				      <div>
				        <div class="blue padded rounded">
				          We have the boards!
				          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
				        </div>
				        <div class="navy padded rounded">
				          High Performance and stylish! 
				          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
				        </div>
				      </div>
				    </div>

				    <div class="card homepage_card right third">
				      <div>
				        <div class="blue padded rounded">
				          Search our database presets...
				          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
				        </div>
				        <div class="navy padded rounded">
				          Or create your own custom board! 
				          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
				        </div>
				      </div>
				    </div>

				  </div>

				  <div class="container">

	        	<div class="card homepage_card left third">
				      <div>
				        <div class="teal padded rounded">
				          Unbeatable prices!
				          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
				        </div>
				        <div class="aqua padded rounded">
				          Easy online payments! 
				          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
				        </div>
				      </div>
				    </div>

				    <div class="card homepage_card right third">
				      <div>
				        <div class="teal padded rounded">
				          Recommended by pro surfers!
				          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
				        </div>
				        <div class="aqua padded rounded">
				          Including Aaron Justesen! 
				          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
				        </div>
				      </div>
				    </div>

				  </div>

      	</div>
  		</div>

  		<!-- ******************************************* Database Page ******************************************* -->
  		<div v-if="page == 'database'">
			<h2> Our Surfboard Collection </h2>

			<div class="container">


				<div class="quarter">
					<ul class="menu">
						<li><a class="btn">Filter by ▼</a>
							<ul>
								<li><a>Price</a>
									<ul>
										<li><a><100</a></li>
										<li><a>100-400</a></li>
										<li><a>>500</a></li>
									</ul>
								</li>
								<li><a>Board Type</a>
									<ul>
										<li><a>Longboard</a></li>
										<li><a>Shortboard</a></li>
										<li><a>Hybrid</a></li>
									</ul>
								</li>
								<li><a>Fins</a>
									<ul>
										<li><a>One</a></li>
										<li><a>Two</a></li>
										<li><a>Three</a></li>
										<li><a>Four</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<!-- Code to display the images -->
				<div class="image_container threequarters">
					<ul class="container">
						<li class="card lifted padded quarter">
							<img src="https://s19.postimg.cc/tk57had77/surfboard1.png" class="padded"></img>
						</li>
						<li class="card lifted padded quarter">
							<img src="https://s19.postimg.cc/w40ubg5wz/surfboard2.jpg" class="padded"></img>
						</li>
						<li class="card lifted padded quarter">
							<img src="https://s19.postimg.cc/mjh7ol3qb/surfboard3.jpg" class="padded"></img>
						</li>
						<li class="card lifted padded quarter">
							<img src="https://s19.postimg.cc/3r5cl0mrn/surfboard4.png" class="padded"></img>
						</li>
					</ul>
				</div>

			</div>
			 
  		</div>
		
  		<!-- **************************************** Customization Page **************************************** -->
  		<div v-if="page == 'customization'">
  			<h2> Customization </h2>

  			<div class="container custom_div">
		      <label class="quarter left custom_label">Board Type</label>
		      <div class="quarter">
		        <select class="fill custom_selection">
		          <option>Shortboard $200</option>
		          <option>Hybrid $250</option>
		          <option>Longboard $300</option>
		        </select>
		      </div>
		    </div>

				<div class="container custom_div">
		      <label class="quarter left custom_label">Tail Type</label>
		      <div class="quarter">
		        <select class="fill custom_selection">
		          <option>Square</option>
		          <option>Pin</option>
		          <option>Swallow</option>
		          <option>Diamond</option>
		        </select>
		      </div>
		    </div>

		    <div class="container custom_div">
		      <label class="quarter left custom_label">Color</label>
		      <div class="quarter">
		        <select class="fill custom_selection">
		        	<option>White</option>
		        	<option>Grey</option>
		        	<option>Black</option>
		          <option>Red</option>
		          <option>Orange</option>
		          <option>Yellow</option>
		          <option>Green</option>
		          <option>Blue</option>
		          <option>Purple</option>
		        </select>
		      </div>
		    </div>

		    <div class="container custom_div">
		      <label class="quarter left custom_label">Fin Number</label>
		      <div class="quarter">
		        <input min="1" max="4" step="1" placeholder="3" type="number" class="custom_selection">
		      </div>
		    </div>

		    <div class="container custom_div">
		      <label class="quarter left custom_label">Height (ft)</label>
		      <div class="quarter">
		        <input min="4" max="20" step=".1" placeholder="6" type="number" class="custom_selection">
		      </div>
		    </div>

		    <div class="container custom_div">
		      <label class="quarter left custom_label">Width (in)</label>
		      <div class="quarter">
		        <input min="10" max="40" step=".1" placeholder="19" type="number" class="custom_selection">
		      </div>
		    </div>

		    <div class="container custom_div">
		      <label class="quarter left custom_label">Thicness (in)</label>
		      <div class="quarter">
		        <input min="0" max="3" step=".1" placeholder="2.5" type="number" class="custom_selection">
		      </div>
		    </div>

		    <div class="container custom_div">
		      <label class="quarter left custom_label">Volume (L)</label>
		      <div class="quarter">
		        <input min="10" max="50" step=".1" placeholder="30" type="number" class="custom_selection">
		      </div>
		    </div>

		    <span>Board Price: $300</span>
		    <button> Save Board</button>

  		</div>

  		<!-- ******************************************** About Page ******************************************** -->
  		<div v-if="page == 'about'">
  			<h2> About </h2>
  		</div>

  		<!-- ******************************************** Cart Page ******************************************** -->
  		<div v-if="page == 'cart'">
  			<h2> Cart </h2>
  		</div>

		</div>
    
	</div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
