{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
	var add_board_url = "{{=URL('api', 'add_board', user_signature=True)}}";
	var get_boards_url = "{{=URL('api', 'get_boards', user_signature=True)}}";
	var delete_board_url = "{{=URL('api', 'delete_board', user_signature=True)}}";
	var toggle_cart_url = "{{=URL('api', 'delete_board', user_signature=True)}}";
	var purchase_url = "{{=URL('api', 'purchase', hmac_key=session.hmac_key)}}";
	var get_email_url = "{{=URL('api', 'get_email', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

	<div id="vue-div" class="display:none">

  	<div class="container padded webpage_container">

  		<!-- ************************************************ Menu ************************************************ -->
  		<div class="main_menu" >
	  		<ul class="menu">
	  			<li>
	  				<a v-on:click="change_page('homepage')"> Homepage </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('database')"> Surfboards </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('customization')"> Customization </a>
	  			</li>
	  			<li>
	  				<a v-on:click="change_page('about')"> About </a>
	  			</li>
	  		</ul>

	  		<ul class="menu right">
<!-- 	  			<li>
	  				<button class="btn rounded"><a href="/final/default/user" class="login_button"></a>Login</button>
	  			</li>
	  			<li> </li>-->
	  			<button v-if="page != 'cart'" v-on:click="change_page('cart')" class="btn rounded"> 
	             	Cart <i class="fa fa-shopping-cart"></i> 
				</button>
				<button v-if="page == 'cart'" v-on:click="change_page('database')" class="btn rounded"> 
					Shop
				</button>
	  		</ul>
  		</div>

  		<!-- ********************************************* Homepage ********************************************* -->
  		<div v-if="page == 'homepage'">
  			<div class="fill center homepage_background ">

        	<h1 class="homepage_title">Boardophiles</h1>
        	<h4 class="homepage_title"> Customizable Surfboard Shop</h4>

        	<div class="container">

	        	<div class="card homepage_card left third">
				      <div>
				        <div class="blue padded rounded">
				          We have the boards!
				          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
				        </div>
				        <div class="navy padded rounded">
				          High performance and stylish! 
				          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
				        </div>
				      </div>
				    </div>

				    <div class="card homepage_card right third">
				      <div>
				        <div class="blue padded rounded">
				          Search our database presets...
				          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
				        </div>
				        <div class="navy padded rounded">
				          Or create your own custom board! 
				          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
				        </div>
				      </div>
				    </div>

				  </div>

				  <div class="container">

	        	<div class="card homepage_card left third">
				      <div>
				        <div class="teal padded rounded">
				          Unbeatable prices!
				          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
				        </div>
				        <div class="aqua padded rounded">
				          Easy online payments! 
				          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
				        </div>
				      </div>
				    </div>

				    <div class="card homepage_card right third">
				      <div>
				        <div class="teal padded rounded">
				          Recommended by pro surfers!
				          <img src="../static/images/surfboard_top.jpg" class="homepage_board_image">
				        </div>
				        <div class="aqua padded rounded">
				          Including Aaron Justesen! 
				          <img src="../static/images/surfboard_bottom.jpg" class="homepage_board_image">
				        </div>
				      </div>
				    </div>

				  </div>

      	</div>
  		</div>

  		<!-- ******************************************* Database Page ******************************************* -->
  		<div v-if="page == 'database'" class="padded">

				<h2> Surfboard Collection </h2>

				<div class="container">

					<div class="filter_container">

						<!-- button to delete the last board in the array -->
						<!-- <button v-on:click="delete_board(boards.length-1)"> Delete </button> -->

						<ul class="menu">
							<li><h2 class="btn rounded filter">Filter</h2>
								<ul>
									<li><a>Price</a>
										<ul>
											<li v-on:click="set_price_filter(0, 2500)"><a> All</a></li>
											<li v-on:click="set_price_filter(0, 200)"><a>< $200</a></li>
											<li v-on:click="set_price_filter(200, 400)"><a>$200-$400</a></li>
											<li v-on:click="set_price_filter(400, 600)"><a>$400-$600</a></li>
											<li v-on:click="set_price_filter(600, 2500)"><a>> $600</a></li>
										</ul>
									</li>
									<li><a>Board Type</a>
										<ul>
											<li v-on:click="set_board_type_filter('All')"><a> All</a></li>
											<li v-on:click="set_board_type_filter('Longboard')"><a>Longboard</a></li>
											<li v-on:click="set_board_type_filter('Shortboard')"><a>Shortboard</a></li>
											<li v-on:click="set_board_type_filter('Hybrid')"><a>Hybrid</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<div class="active_filters">
							<h5>Active Filters:</h5>
							<p>Price: $${min_price} to $${max_price}</p>
							<p>Type: ${board_type_filter}</p>
						</div>
					</div>

					<!-- Code to display the images -->
					<div class="image_container threequarters">
						<ul class="container">
							<li v-for="(board, index) in boards" class="card database_card lifted padded quarter rounded">
								<div>
									<!-- The front of the surfboard displays -->
									<div class="aquamarine rounded">
										<div class="board_type"> ${board.board_type} </div>
										<img v-bind:src="board.image_url" class="padded database_board_image"></img>
										<div class="board_price"> $${board.board_price} <i v-if="board.in_cart" class="fa fa-check"></i></div>
									</div>

									<!-- The back of the surfboard displays -->
									<div class="navy rounded board_description">
										<div class="board_type"> ${board.board_type} </div>
										<p class="description_text">Tail: ${board.board_tail_type}</p>
										<p class="description_text">Color: ${board.board_color}</p>
										<p class="description_text">Fins: ${board.num_of_fins}</p>
										<p class="description_text">Length: ${board.board_length}ft.</p>
										<p class="description_text">Width: ${board.board_width}in.</p>
										<p class="description_text">Thickness: ${board.board_thickness}in.</p>
										<p class="description_text">Volume: ${board.board_volume}L</p>
										<div class="board_price"> $${board.board_price} 
											<button class="btn rounded" v-on:click="toggle_cart(index)">
												<i v-if="board.in_cart" class="fa fa-check"></i>
												<i class="fa fa-shopping-cart"></i>
											</button>
											<button class="btn red rounded" v-if="logged_in & email == board.created_by" v-on:click="delete_board(index)">
												<i class="fa fa-trash"></i>
											</button>
										</div>
									</div>

								</div>
							</li>
						</ul>
						<h2 v-if="boards.length == 0"> No boards available </h2>
					</div>

				</div>
			 
  		</div>
		
  		<!-- **************************************** Customization Page **************************************** -->
  		<div v-if="page == 'customization'" class="padded container">
  			<h2> Customization </h2>

  			<div v-if="logged_in" class="third">
	  			<div class="container custom_div">
			      <label class="quarter left custom_label">Board Type</label>
			      <div class="half">
			        <select class="fill custom_selection" v-model="board_type" v-on:change="update_board_options()">
			          <option>Shortboard</option>
			          <option>Hybrid</option>
			          <option>Longboard</option>
			        </select>
			      </div>
			    </div>

					<div class="container custom_div">
			      <label class="quarter left custom_label">Tail Type</label>
			      <div class="half">
			        <select class="fill custom_selection" v-model="board_tail_type" v-on:change="update_board_options()">
			          <option>Square</option>
			          <option>Pin</option>
			          <option>Swallow</option>
			          <option>Diamond</option>
			        </select>
			      </div>
			    </div>

			    <div class="container custom_div">
			      <label class="quarter left custom_label">Color</label>
			      <div class="half">
			        <select class="fill custom_selection" v-model="board_color" v-on:change="update_board_options()">
			        	<option>White</option>
			        	<option>Black</option>
			          <option>Red</option>
			          <option>Orange</option>
			          <option>Yellow</option>
			          <option>Green</option>
			          <option>Blue</option>
			          <option>Purple</option>
			        </select>
			      </div>
			    </div>

			    <div class="container custom_div">
			      <label class="quarter left custom_label">Fin Number</label>
			      <div class="half">
			        <input min="1" max="4" step="1" v-model="num_of_fins" type="number" class="custom_selection" 
			        v-on:change="update_board_options()">
			      </div>
			    </div>

			    <div class="container custom_div">
			      <label class="quarter left custom_label">Length (ft)</label>
			      <div class="half">
			        <input min="4" max="20" step=".1" v-model="board_length" type="number" class="custom_selection"
			        v-on:change="update_board_options()">
			      </div>
			    </div>

			    <div class="container custom_div">
			      <label class="quarter left custom_label">Width (in)</label>
			      <div class="half">
			        <input min="10" max="40" step=".1" v-model="board_width" type="number" class="custom_selection" 
			        v-on:change="update_board_options()">
			      </div>
			    </div>

			    <div class="container custom_div">
			      <label class="quarter left custom_label">Thicness (in)</label>
			      <div class="half">
			        <input min="0" max="3" step=".1" v-model="board_thickness" type="number" class="custom_selection" 
			        v-on:change="update_board_options()">
			      </div>
			    </div>

			    <div class="container custom_div">
			      <label class="quarter left custom_label">Volume (L)</label>
			      <div class="half">
			        <input min="10" max="50" step=".1" v-model="board_volume" type="number" class="custom_selection" 
			        v-on:change="update_board_options()">
			      </div>
			    </div>

			    <span>Board Price: $${board_price} </span>
			    <button v-if="!saving_board" v-on:click="add_board()" class="btn rounded"> Save Board </button>
			    <button v-if="saving_board" class="btn rounded"> Saving Board...</button>
			    <div v-if="saving_board" class="progress fill save_bar"><div class="indeterminate"></div></div>
			    <h5 v-if="just_added_board"> Board Saved!</h5>
			  </div>

			  <div v-if="logged_in" class="twothirds">
			  	<img v-bind:src="custom_board_url" class="" height="400px" width="200px"></img>
			  </div>

			  <div v-if="!logged_in">
			  	<h4> Log in to create custom boards</h4>
			  </div>

  		</div>

  		<!-- ******************************************** About Page ******************************************** -->
  		<div v-if="page == 'about'" class="padded">
  			<h2> About </h2>
  			<p> This website was created for the University of California CMPS 183 final.</p>
  			<p> By Sean Odnert and Mark Hiserodt.</p>
  			<p> With help from Aaron Justesen</p>
  		</div>

  		<!-- ******************************************** Cart Page ******************************************** -->
  		<div v-if="page == 'cart'" class="padded">
			  <h2> Cart </h2>
			  
			  <div class="container">

			  	<div class="filter_container">

						<div v-if="cart.length > 0" class="total_price">
            	Your total price: $${cart_total}
            	<button class="btn blue" v-on:click="pay()"><i class="fa fa-lg fa-credit-card"></i> Pay</button>
          	</div>

					</div>

					<!-- Code to display the images -->
					<div class="image_container threequarters">
						<ul class="container">
							<li v-for="(board, index) in cart" class="card database_card lifted padded quarter rounded">
								<div>
									<!-- The front of the surfboard displays -->
									<div class="aquamarine rounded">
										<span> ${board.board_type} </span>
										<img v-bind:src="board.image_url" class="padded database_board_image"></img>
										<div class="board_price"> $${board.board_price}</div>
									</div>

									<!-- The back of the surfboard displays -->
									<div class="navy rounded board_description">
										<span> ${board.board_type} </span>
										<p class="description_text">Tail: ${board.board_tail_type}</p>
										<p class="description_text">Color: ${board.board_color}</p>
										<p class="description_text">Fins: ${board.num_of_fins}</p>
										<p class="description_text">Length: ${board.board_length}ft.</p>
										<p class="description_text">Width: ${board.board_width}in.</p>
										<p class="description_text">Thickness: ${board.board_thickness}in.</p>
										<p class="description_text">Volume: ${board.board_volume}L</p>
										<div class="board_price"> $${board.board_price} 
											<button class="btn rounded" v-on:click="remove_from_cart(index)">
												<i v-if="board.in_cart" class="fa fa-times"></i>
											</button>
										</div>
									</div>

								</div>
							</li>
						</ul>
						<h2 v-if="cart.length == 0"> No boards in the cart. Go add some boards! </h2>
					</div>

				</div>

  		</div>
		<!-- ******************************************** End Cart Page ******************************************** -->

		</div>
    
	</div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
