/* line 1, ../sass/_main.scss */

/***************************************** Menu *****************************************/
.main_menu {
	width: 95% !important;
	height: 30px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

/*************************************** Homepage ***************************************/
.homepage_title {
	margin-top: 20px !important;
	color: white;
}

.homepage_background {
	height: 600px;
	background:url(../images/wave2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	padding-top:5px;
}

.homepage_card {
	width: 400px; 
	height: 200px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 35px;
}

.homepage_board_image {
	width: 420px;
	height: 140px;
	margin-top: 10px;
}

/***************************************** Database ******************************************/

.filter_container {
	float: left;
	width: 190px;
}

.filter {
	margin-right: 100px;
	padding-right: 20px;
	padding-left: 20px;
}

.active_filters {
	padding-top: 50px;
}

.image_container {
	border: 2px outset gray !important;
	border-radius: 5px;
	padding: 10px !important;
	background-color: lightgray;
}

.board_price {
	margin-left: 20px !important;
	margin-right: 5px !important;
	width: 100px !important;
}

.database_card {
	width: 210px !important; 
	height: 290px !important;
	margin-right: 10px !important;
}


.database_board_image {

}

/*************************************** Customization ***************************************/

.custom_label {
	width: 130px;
}

.custom_div {
	margin-bottom: 10px;
}

.custom_selection {
	border: 1px solid black !important;
}

.save_bar {
	margin-top: 5px;
	width: 240px !important;
}

/*************************************** Random ***************************************/

h2 {
	margin-top: 10px;
}


.colorful {
 	color: #bb8833;
}

/*.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}*/